node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# IDE
.idea
.vscode

# Miscellaneous
*.pyc
*.log


# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
.dart_tool/


# Rust
server_rs_*/target/*